.cell {
	box-sizing: border-box;
	font-family: sans-serif;
	z-index: 10;
}

.screen {
	position: absolute;
	left: 0;
	top: 0;
	margin: 32px 25px 42px 22px;
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow: hidden;
	visibility: hidden;
}

.screen.visible { visibility: visible; }

.screen > .title {
	height: 35px;
	line-height: 27px;
	text-align: center;
}

.screen > .content {
	flex: 1 1;
	display: flex;
	width: 202px;
	max-height: 351px;
	overflow-y: auto;
	box-sizing: border-box;
}

.screen.moment > .content {
	flex-direction: column-reverse;
	justify-content: flex-end;
}

.screen.moment .entry {
	border-bottom: 1px solid black;
	padding-bottom: 10px;
	height: max-content;
	display: flex;
	align-items: top;
	margin: 10px 10px 0;
}

.screen.moment .avatar {
	width: 40px;
	height: 40px;
	min-width: 40px;
	min-height: 40px;
	background-size: contain;
	margin-right: 10px;
}

.screen.moment .text {
	height: max-content;
	word-break: break-all;
}

.chat .content {
	padding: 10px;
}

.dialogue {
	display: flex;
	width: fit-content;
	margin-bottom: 10px;
}
.dialogue.self {
	align-self: flex-end;
}

.dialogue .body {
	padding: 5px 0;
	max-width: 80%;
}
.dialogue .body, .dialogue .before, .dialogue .after {
	background-size: 100% 100%;
}
.dialogue .before, .dialogue .after {
	flex: 1;
	width: 10px;
	min-width: 10px;
	min-height: 21px;
	align-self: stretch;
}

.dialogue.self .body { background-image: url('resource/cell/chat/self/body.png'); }
.dialogue.self .before { background-image: url('resource/cell/chat/self/butt.png'); }
.dialogue.self .after { background-image: url('resource/cell/chat/self/head.png'); }

.dialogue.opposite .body { background-image: url('resource/cell/chat/opposite/body.png'); }
.dialogue.opposite .before { background-image: url('resource/cell/chat/opposite/head.png'); }
.dialogue.opposite .after { background-image: url('resource/cell/chat/opposite/butt.png'); }

.screen .alert {
	position: absolute;
	left: 0;
	top: 0;
	height: 60px;
	line-height: 60px;
	width: 100%;
	padding: 0px 16px;
	box-sizing: border-box;
	border-radius: 8px;
	background-image: url(resource/cell/alert.png);
	background-size: 100% 100%;
}
