.storyboard, .component {
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
}

.storyboard {
	transform-style: preserve-3d;
	transform-origin: center center;
	outline: 4px solid black;
}

.active {
	pointer-events: all;
}

.component {
	pointer-events: none;
}

* {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
